@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Ad" asp-action="Create" class="btn btn-primary mb-2">Create ad</a>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Ad" asp-action="Edit" asp-route-id="6"
       class="btn btn-primary mb-2">Edit</a>
    <a asp-controller="Ad" asp-action="Delete" asp-route-id="6"
       class="btn btn-primary mb-2">Delete</a>
    <a asp-controller="Ad" asp-action="Details" asp-route-id="6"
       class="btn btn-primary mb-2">Details</a>
</div>
